
<div class="container" style ="margin-bottom: 80px; margin-top: 120px;">

  <article class="recipe">

    <header>
      <img src="{{recipe.image}}" alt="Recipe Image"/> 
      <h1 style = "font-weight: bold; margin-bottom: 30px;">{{recipe.title}}</h1>

      <ul class="categories">
        <li>Preparation time: {{recipe.readyInMinutes}} minutes</li>
        <li>Servings: {{recipe.servings}}</li>
      </ul>

      <ul class="categories"> 
        <li>Calories: {{calories}} kcal</li>
        <li>Fat: {{fat}} g</li>
        <li>Protein: {{protein}} g</li>
      </ul>

      <ul class="categories">
       <li *ngFor="let diet of recipe.diets">{{diet}}</li>
      </ul> 
      
      <button class="col btn btn-gradient " >+ Add to MyMeals</button>
    </header>

    <section>
      <h2 style = "font-weight: bold;">Ingredients</h2>
      <ul class="ingredients">
        <li *ngFor="let ingredient of recipe.extendedIngredients "> {{ingredient.original}} </li>
      </ul>
    </section>

    <section>
      <h2 style = "font-weight: bold;">Directions</h2>
      <ul class="steps">
        <li *ngFor="let instruction of recipe.analyzedInstructions[0].steps"> <p> <span style = "font-weight: bold;"> {{instruction.number}}. </span> {{instruction.step}} </p></li>
      </ul>
    </section>
 
  </article>

</div>
